
.container{
    display: flex;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    
    border: 1px solid green;
    width: 150px;
    height: 100px;
    margin-top: 20px;
}

.boards {
    width: 200px;
    height: 700px;
    border: 1px solid orangered;
    flex-wrap: nowrap;
}